body {
  background-color: #222b37;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "Lato", sans-serif;
  display: flex;
  color: #dfdfdf;
}

.main-content {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  flex-direction: column;
}

.main-content .error-message {
  color: yellow;
  font-weight: bold;
  font-size: 16px;
  margin-top: 0px;
}

.main-content h1 {
  font-size: 60px;
}

.main-content ul {
  margin: 0px;
}

.main-content ul :not(:first-child) {
  padding-top: 10px;
}

.main-content li {
  font-size: 20px;
}

.main-content a:link {
  color: #dfdfdf;
}

.main-content a:visited {
  text-decoration: none;
}

.main-content form {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #dfdfdf;
}

.main-content form .form-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: #dfdfdf;
}

.main-content form label {
  padding-right: 5px;
}

.main-content form input {
  border-radius: 5px;
  border: 0px;
  font-size: 14px;
  padding: 5px;
}

.main-content button {
  border: none;
  background: #dfdfdf;
  mix-blend-mode: screen;
  padding: 6px;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.main-content .index-button-container button {
  font-size: 25px;
  padding: 10px;
}

.goBack:link {
  color: #dfdfdf;
}

a:link,
a:visited {
  color: #dfdfdf;
  text-decoration: none !important;
}

.card {
  background-color: #2d3748;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 400px;
  min-height: 300px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card form .form-input-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.card form .form-input-container label {
  width: 100%;
  margin-bottom: 5px;
  text-align: left;
}

.card form .form-input-container input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

.card form button {
  width: 50%;
  padding: 10px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #dfdfdf;
  color: #222b37;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.card form button:hover {
  background-color: #cfcfcf;
}

.card p a {
  margin-top: 20px;
  color: #dfdfdf;
  text-decoration: none;
  font-size: 14px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
